.navbar {
    justify-content: center;
    background-color: white;
}

.divider {
    text-align: center;
    font-family: 'Raleway';
}

.divider > h3 {
    font-size: 1.1em;
    font-weight: lighter;
}

.divider > h3 > b {
    font-weight: 900;
    color: black;    
    text-shadow: 1px 0 black;
    letter-spacing:1px;
}
