#hero-section {
    padding-top: 105px;
}
.hero-images {
    display: flex;
    justify-content: row;
    justify-content: center;
}
.hero {
    width: 38vw;
    height: auto;
}

/* @media (min-width: 1500px){
    .hero {
        width: 29vw;
    }
} */